svg {
	margin: auto;
	width: 500px;
	height: 500px;
}

#heart {
	width: 500px;
	height: 500px;
	width: 50%;
	fill: #dd3232;
}

svg > text {
	text-anchor: middle;
	font-family: 'Indie Flower', cursive;
	font-size: 6px;
}