#story {
	font-size: 1em;
	background: #fafafa;
	width: 21em;
	padding-bottom: 1em;
	height: auto;
	max-height: 11em;
	border: dashed #b00 2px;
	border-radius: 10%;
	text-align: center;
	flex-grow: 1;
}

#story p {
	vertical-align: middle;
	padding-left: 1.5em;
	padding-right: 1.5em;
	font-family: sans-serif;
}