.story {
	font-size: 18pt;
	display: inline-block;
	margin-top: 0.25em;
	background: #fafafa;
	width: 27em;
	height: 9em;
	border: dashed #b00 2px;
	border-radius: 10%;

}

pre {
	padding: 10px;
	font-family: sans-serif;
}