.input-form-wrapper {
	margin: auto;
}

.input-form {
	display: inline-block;
	margin: auto;
	background: red;
}

input[type=text] {
	width: 18em;
	border: dashed #b00 1px;
	padding: 10px;
	border-radius: 20%;
}

input[type=text]:focus {
	border: dotted #ff5555 3px;
}