.input-form-wrapper {
	margin: auto;
}

.input-form {
	display: inline-block;
	margin: auto;
}

input[type=text] {
	width: 18em;
	border: solid #b00 1px;
	padding: 10px;
}

input[type=text]:focus {
	border: solid #ff5555 3px;
}