@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico');

.App {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h1 {
	color: #990000;
	font-size: 3em;
	text-shadow: 2px 2px 3px #dd3232;
}

.invisible {
	display: none;
}

.visible {
	display: block;
}